<!DOCTYPE html>
<html lang="en">
  <head>
    <!--- Pulled from http://v4-alpha.getbootstrap.com/examples/narrow-jumbotron/ --->
    <title>Meetup 8/16/2016</title>
    <link href="http://v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
  </head>

  <body>
    <div class="container">
      <div class="jumbotron">
        <h1 class="display-3">Indy Meetup - 8/16/2016</h1>
        <p class="lead">Thanks for coming!</p>
        <p><a class="btn btn-lg btn-success" href="#" role="button">Look, a button!</a></p>
      </div>
    </div> <!-- /container -->
  </body>
</html>
